---
---

.dropbtn {
    background-color: inherit;
    padding: 0px;
    margin: 0px;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    top: 20px;
    right: 20px;
    display: block;
    font: inherit;
    z-index: 3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 3px solid #88AA00FF;
    z-index: 3;
    right: 0;
}

.dropdown-content a {
    color: #7eb0d2;
    padding: 12px 16px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1; text-decoration: none; border-radius: 10px;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: inherit;
}
.dropdown img{border: none;box-shadow: none;}

